<div
  class="mt-4 p-6 flex space-y-4 flex-col bg-black backdrop-filter backdrop-blur-lg bg-opacity-20"
>
  <p *ngIf="showTitle" class="text-4xl text-amber-50 tracking-widest">RECENT</p>
  <div class="flex flex-col lg:space-x-4 lg:flex-row">
    <a
      [routerLink]="i.path"
      *ngFor="let i of getAccountJournals()"
      class="hover:drop-shadow-2xl basis-1/2 mb-2 lg:mb-0 rounded cursor-pointer {{
        i.class
      }} drop-shadow-2xl backdrop-filter backdrop-blur-lg bg-opacity-60"
    >
      <div class="p-2 flex flex-row items-center justify-between">
        <div class="text-amber-50 space-y-4 flex flex-col">
          <p class="text-amber-50 text-4xl">{{ i.name }}</p>
          <p class="text-amber-50 text-4xl font-bold">{{ i.total }}</p>
          <p class="text-amber-50 text-xl">{{ i.label }}</p>
        </div>
        <div>
          <fa-icon class="text-4xl text-amber-50" [icon]="i.icon"></fa-icon>
        </div>
      </div>
    </a>
  </div>
</div>
