<div class="grid grid-cols-2 gap-x-2 gap-y-6">
  <div class="col-span-full">
    <p class="text-2xl text-center">Ajouter une operation</p>
  </div>
  <div class="col-span-1">
    <label for="desc-id" class="block">Description</label>
    <input
      type="text"
      name=""
      id="desc-id"
      placeholder="Ecriver la description"
      class="p-2 border-b border-b-gray-500"
    />
  </div>
  <div class="col-span-1">
    <label for="amount-id" class="block">Montant</label>
    <input
      type="text"
      name=""
      id="amount-id"
      placeholder="Ecriver le montant"
      class="p-2 border-b border-b-gray-500"
    />
  </div>
  <div class="col-span-1">
    <label for="tiers-id" class="block">Tiers</label>
    <input
      type="text"
      name=""
      id="tiers-id"
      placeholder="Ecriver le tiers"
      class="p-2 border-b border-b-gray-500"
    />
  </div>
  <div class="col-span-1">
    <label for="sens-id" class="block">Sens</label>
    <select name="" id="sens-id" class="w-full p-2 border-b border-b-gray-500">
      <option value="Debit">Debit</option>
      <option value="Credit">Credit</option>
    </select>
  </div>
  <div class="col-span-full relative">
    <button
      class="absolute right-0 p-2 rounded-full bg-tahiti text-amber-50 text-xl"
    >
      Ajouter
    </button>
  </div>
</div>
