<table *ngIf="!fullTable" class="table-auto">
  <!-- <thead>
    <tr>
      <th
        *ngFor="let header of tableHeaders"
        class="p-2 text-amber-50 text-2xl text-center w-52 bg-black backdrop-filter backdrop-blur-lg bg-opacity-20 border-r-2 border-rose-700 tracking-widest"
      >
        {{ header }}
      </th>
    </tr>
  </thead> -->
  <thead>
    <tr class="bg-gray-900">
      <th *ngFor="let header of tableHeaders" class="text-amber-50 text-lg">
        {{ header }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="{{
        i % 2 === 0
          ? 'bg-black backdrop-filter backdrop-blur-lg bg-opacity-20'
          : 'bg-gray-500 backdrop-filter backdrop-blur-lg bg-opacity-10'
      }}"
      *ngFor="let k of tableData; index as i"
    >
      <td class="text-gray-300 text-lg tracking-wider h-14 text-center">
        {{ k.date }}
      </td>
      <td class="text-gray-300 text-lg tracking-wider h-14 text-center">
        {{ k.tiers }}
      </td>
      <td class="text-gray-300 text-lg tracking-wider h-14 text-center">
        {{ k.description }}
      </td>
      <td class="text-gray-300 text-lg tracking-wider h-14 text-center">
        {{ "$ " + parseAmount(k.amount) }}
      </td>
      <td
        class="tracking-wider h-14 text-lg text-center {{
          k.direction === 'Debit' ? 'text-green-500' : 'text-red-500'
        }}"
      >
        {{ k.direction }}
      </td>
      <td class="text-gray-300 text-xl tracking-wider h-14 text-center">
        {{ k.agent }}
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="fullTable" class="w-full table-auto">
  <thead>
    <tr class="bg-gray-900">
      <th *ngFor="let header of tableHeaders" class="text-amber-50 text-lg">
        {{ header }}
      </th>
    </tr>
  </thead>
</table>
