<div class="custom-bg flex h-screen w-screen overflow-hidden">
  <div
    #sideBar
    class="hidden border-r border-r-gray-400 lg:block shrink-0 lg:basis-60 bg-black backdrop-filter backdrop-blur-lg bg-opacity-20"
  >
    <app-side-nav (sideBar)="onCloseSideBar(sideBar)"></app-side-nav>
  </div>
  <div #contents class="basis-full flex flex-col">
    <app-nav-bar
      navLabel="Tableau de bord"
      (sideBar)="onOpenSideBar(sideBar)"
    ></app-nav-bar>
    <div class="basis-full flex flex-col ml-4 overflow-y-scroll">
      <app-journals></app-journals>
      <app-dashboard-nav-options></app-dashboard-nav-options>
    </div>
  </div>
</div>
